In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime as dtt

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

In [2]:
df=pd.read_excel('Data_Train.xlsx')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
df.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [5]:
df.shape

(10683, 11)

In [6]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [9]:
df['Date_of_Journey']=pd.to_datetime(df['Date_of_Journey'])

In [10]:
df['Day']=df['Date_of_Journey'].dt.day

In [11]:
df['Month']=df['Date_of_Journey'].dt.month
df['Year']=df['Date_of_Journey'].dt.year

In [12]:
df['Total_Stops'].value_counts()

1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: Total_Stops, dtype: int64

In [13]:
stops={'1 stop':1,'non-stop':0,'2 stops':2,'3 stops':3,'4 stops':4}

In [14]:
df['Total_Stops']=df['Total_Stops'].map(stops)

In [15]:
df['Total_Stops'].value_counts()

1    5625
0    3491
2    1520
3      45
4       1
Name: Total_Stops, dtype: int64

In [16]:
df['Source'].value_counts()

Delhi       4536
Kolkata     2871
Banglore    2197
Mumbai       697
Chennai      381
Name: Source, dtype: int64

In [17]:
df['Destination'].value_counts()

Cochin       4536
Banglore     2871
Delhi        1265
New Delhi     932
Hyderabad     697
Kolkata       381
Name: Destination, dtype: int64

In [18]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [19]:
df['Airline'] = df['Airline'].replace(['Jet Airways Business','Vistara Premium economy'],['Jet Airways','Vistara'])

In [20]:
df['Airline'].value_counts()

Jet Airways                          3855
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               482
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Trujet                                  1
Name: Airline, dtype: int64

In [21]:
df['Arrival_Time']=df['Arrival_Time'].str.split(' ').apply(lambda x:x[0])

In [22]:
df['Arrival_Time_hr']=df['Arrival_Time'].str.split(":").apply(lambda x:x[0])
df['Arrival_Time_min']=df['Arrival_Time'].str.split(":").apply(lambda x:x[1])

In [23]:
df['Dep_Time_hr']=df['Dep_Time'].str.split(":").apply(lambda x:x[0])
df['Dep_Time_min']=df['Dep_Time'].str.split(":").apply(lambda x:x[1])

In [24]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [25]:
df['Additional_Info']=df['Additional_Info'].str.replace('No info','No Info')

In [26]:
df['Additional_Info'].unique()

array(['No Info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [27]:
df['Additional_Info']=df['Additional_Info'].map({'No Info':0, 'In-flight meal not included':1,
       'No check-in baggage included':2, '1 Short layover':3,
       '1 Long layover':4, 'Change airports':5, 'Business class':6,
       'Red-eye flight':7, '2 Long layover':8})

In [28]:
df['Duration_hr']=df['Duration'].str.split(' ').apply(lambda x:x[0] if 'h' in x[0] else '0h').str.replace('h','')

In [29]:
df['Duration_min']=df['Duration'].str.split(' ').apply(lambda x:x[1] if len(x)==2 else (x[0] if'm' in x[0] else '0m')).str.replace('m','')

In [30]:
df.loc[:,'Arrival_Time_hr':]=df.loc[:,'Arrival_Time_hr':].astype('int64')

In [34]:
df.to_csv('Train_Data_Cleaned.csv', index=False)